.logo {
  color: var(--title-text-color);
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
}

.logo__accent {
  color: var(--accent-color);
}

.logo__accent-secondary {
  color: var(--premari-white-color);
}
