.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg);
  opacity: 1;
  transition: opacity var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
  transition: transform var(--duration) var(--timing-function);
}

.modal {
  position: absolute;
  min-width: 450px;
  min-height: 609px;
  background-color: var(--premari-white-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration) var(--timing-function);

  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--premari-white-color);
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal__icon-svg {
  width: 11px;
  height: 11px;
  transition: fill var(--duration) var(--timing-function);
}
