.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__social-icons {
  margin-left: 70px;
}

.footer__social-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 20px;
  color: var(--premari-white-color);
}
