.project {
  margin-bottom: calc(-1 * var(--project-indent));
  margin-right: calc(-1 * var(--project-indent));

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.project__item {
  margin-right: var(--project-indent);
  margin-bottom: var(--project-indent);

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * var(--project-indent)) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * var(--project-indent)) / 3);
  }
}
